/* * {
    box-sizing: border-box;
  } */
  
header {
  position: fixed;
  top: 0px;
  width: 100%;
  /* background-color: white; */
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    /* background-color: white; */
  }

  /* .container {
      margin-top: 150px;
      margin-bottom: 150px;
  } */
  
  /* html {
    scroll-behavior: smooth;
  }
   */

   html {
    position: relative;
    min-height: 100%;
  }

  .wrapper {
    margin: 100px 100px 100px 100px;
}

  
  @media screen and (max-width: 992px) {

    .wrapper {
        margin: 50px 50px 50px 50px;
    }
  }

  @media screen and (max-width: 600px) {

    .wrapper {
        margin: 20px 20px 20px 20px;
    }
  }
